*{
    text-align: center;
    text-decoration:none;
    font: normal 30px Arial;
}
.borda{
    border: rgb(106, 230, 116) solid 1px;
    padding: 5px 5px;
    margin-right: 15px;
}
label, input[type=radio], input[type=submit]{
    cursor: pointer;  
}
input[type=submit]{
    background: rgb(36, 224, 52);
    color: black;
    padding: 5px 10px;
    border: 0;
    border: rgb(106, 230, 116) solid 1px;
}
input[type=submit]:hover{
    background: rgb(106, 230, 116);
    color: black
}
fieldset{
    background: rgb(36, 224, 52);
}
.container {
    height: 40vw;
    display: flex;
    justify-content: center; /*Alinha horizontalmente*/
    align-items: center; /*Alinha verticalmente*/
}
