/*Estilizações gerais do site*/
*{
    text-decoration: none;
    color: black;
}
/*Estilização do menu de navegação*/
.topSite{
    border: solid 1px;
    padding: 20px;
    max-width: 939px;
    margin: auto;
    background-color: rgb(36, 224, 52)
}
#barraPesq{
    display: inline;
    margin: auto 20px;
}
#menu{
    float: right;
    font: normal 25px ;
}
#icon{
    display: inline;
    border: rgb(106, 230, 116) solid 1px;
    font: normal 25px Arial;
    padding: 5px;
    color: black;
}
#icon:hover{
    background-color: rgb(106, 230, 116);
    text-decoration: none;
}
#login{
    border: rgb(106, 230, 116) solid 1px;
    font: normal 25px Arial;
    padding: 5px;
}
#login:hover{
    background-color: rgb(106, 230, 116);
}
#registrar{
    border: rgb(106, 230, 116) solid 1px;
    font: normal 25px Arial;
    padding: 5px;
}
#registrar:hover{
    background-color: rgb(106, 230, 116);
}
/*Estilização do conteúdo*/
.content{
    max-width: 940px;
    margin: auto;
    padding: 20px;
    background-color: rgb(36, 224, 52);
    
}
.top{
    width: 200px;
    height: 200px;
    border: white solid 20px;
    border-width: 1px;
    padding: 10px;
}
section{
    width: 75%;
}
#barraLat{
    float: right;
    width: 25%;
    padding-left: 20px;
    box-sizing: border-box;
}
/*Estilização rodapé do site*/
footer{
    margin: auto;
    text-align: center;
    background-color: rgb(16, 97, 22);
}